<!DOCTYPE html>
<html>
	<head>
		<title>FAMILIE :D </title>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container">
			<div class='row'>
				<div class='col-lg-12'>
					<h1>Assignment4</h1>
					<p>My ontology is about the relations between people in a family. I got the ontology from the internet, <a href="http://protegewiki.stanford.edu/wiki/Protege_Ontology_Library">here</a> you can check out the link. The ontology exists of 10 male and 10 female. At this page we will only use Gemma, one of the women of the ontology. With this site we will show you what the difference is between using reasoning and not using reasoning.</p>
				</div>
			</div>
			
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Click on the button to see what kind of relations Gemma has with the rest of the family members without reasoning:!</h3>
					<br><br>
					<div><a id="link13" class='btn btn-primary'>CLICK</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget13" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Click on the button to see what kind of relations Gemma has with the rest of the family members with reasoning!</h3>
					
		
					
					<div><a id="link14" class='btn btn-primary'>CLICK</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget14" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>

		</div>

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/Ass_4.js") }}' type='text/javascript'></script>


	</body>
</head>
